@page "/"
@page "/tictactoe"

<PageTitle>TicTacToe</PageTitle>

<h3>TicTacToe</h3>

@code {
    Code.GameBoard board = new Code.GameBoard();
}

<div class="tictactoe-board">
    @for (int row = 0; row < 3; row++)
    {
        <div class="tictactoe-column">
            @for (int col = 0; col < 3; col++)
            {
                int savedRow = row;
                int savedCol = col;
                <div class="tictactoe-gamepiece" @onclick="@(() => board.PieceClicked(savedRow, savedCol))">
                    @if (board.Board[row, col].Style != Code.PieceStyle.Blank)
                    {
                        <span class="tictactoe-@board.Board[row,col].Style.ToString().ToLower() @(board.IsGamePieceAWinningPiece(row, col) ? "flashing" : "")">
                            @board.Board[row, col].Style
                        </span>
                    }
                </div>
            }
        </div>
    }
</div>

@if (!board.GameComplete)
{
    <h2>@board.CurrentStyle's Turn!</h2>
}
else
{
    <h2>
        @board.GetGameCompleteMessage()
        <button class="btn btn-success" @onclick="@(() => board.Reset())">
            Reset
        </button>
    </h2>
}
